<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>上传图片</h2>
    <form action="/upload/doUpload" method="post" enctype="multipart/form-data">
      <input type="text" name="title" id="title" />
      <br /><br />

      <input type="file" name="pic" id="pic" >
      <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
      <br /><br />
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
